.tg  {
    font-family: 'Oswald';
    table-layout: fixed; 
    width: 859px;
    border-collapse:collapse;
    border-spacing:0;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#clases-colectivas {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.tg td{
    border: 2px solid #fff;
    font-family:'Oswald', sans-serif;
    font-size:14px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.tg th{
    font-family:'Oswald', sans-serif;
    background-color: #343630;
    font-size:14px;
    font-weight:bold;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.tg tbody tr:last-of-type {
    border-bottom: 3px solid #343630;
}

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-2m3c{color:#FFF;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-7oda{color:#EFEFEF;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-jsjb{color:#ffffff;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-km2t{color:#ffffff;font-weight:bold;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-6n11{color:#FFF;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-zv4m{color:#ffffff;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-q1bk{color:#ffffff;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-0hpb{color:#ffffff;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-8jgo{color:#ffffff;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-neel{color:#FFF;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-w2zt{color:#ffffff;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-rxf3{color:#EFEFEF;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-urxo{color:#ffffff;text-align:center;vertical-align:top}
.tg .tg-xd82{color:#FFF;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-vw87{color:#ffffff;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-peb2{color:#ffffff;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-kcva{color:#ffffff;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-leon{color:#ffffff;font-weight:bold;border-color:#2a2929;text-align:left;vertical-align:top}
.tg .tg-elnp{color:#ffffff;font-weight:bold;border-color:#2a2929;text-align:center;vertical-align:top}
.tg .tg-98rs{color:#ffffff;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-wbfg{color:#FFF;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-fac1{color:#efefef;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-k4y7{color:#ffffff;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-iejp{color:#ffffff;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-bpt4{color:#ffffff;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-d8hu{color:#FFF;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-tw96{color:#ffffff;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-0opt{color:#ffffff;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-hakd{color:#FFF;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-w72j{color:#FFF;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-kso4{color:#FFF;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-dp10{color:#ffffff;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-wabt{color:#ffffff;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-as6c{color:#ffffff;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-b9sq{color:#ffffff;font-weight:bold;text-align:center;vertical-align:top}